*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerF {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
}
header, footer{
    background-color: #008374;
    color: white;
    padding: 20px 80px;

}
.texto {
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
.inicio {
    background-color: #23a092;
    height: 430px;
    padding-top: 80px;
}
.conteudo {
    color: white;
    padding-left: 80px;
}
.tInicio{
    font-size: 50px;
}
.pInicio{
    font-size: 40px;
}
.caixa {
    width: 200px;
    height: 160px;
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
}
.caixa img {
    margin-bottom: 20px;
    margin-top: 10px;
}
.caixa h4 {
    margin-bottom: 10px;
}
.diferente {
    margin: 100px 120px;
}
.texto, .tittle {
    margin: 0 70px;
}
h4 {
    font-weight: 100;
    margin-top: 10px;
}
.planos {
    margin: 50px 80px;
}
.tittle {
    text-align: start;
    margin-bottom: 10px;
}
.card {
    background-color: #edecec;
    width: 400px;
    text-align: center;
    height: 450px;
    margin-bottom: 30px;
    margin-top: 60px;
}    
.tipo {
    font-size: 27px;
    font-weight: 900;
    text-align: center;
    margin: 30px ;
}
.cinza {
    color: #959292;
}
.linha {
    height: 35px;
    width: 400px;
}
.clara {
    background-color: #f6a256;
}
.escura {
    background-color: #ff912d;
}
h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px ;
}
h5 {
    font-size: 20px;
    margin: 28px 0;
    font-weight: 200;
    text-align: center;
}
.cinza {
    color: gray;
}
footer .menu {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
input {
    width: 330px;
    font-size: 20px;
    border-radius: 7px;
}
button {
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 5px, 7px;
}
.noticias {
    width: 500px;
}
.noticias h3{
    font-weight: 200;
}
.plano {
    margin: 50px;
}
.contato {
    background-color: #23a092;
    height: 500px;
    color: white;
    padding: 100px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}
label {
    color: white;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}
cTitulo {
    font-size: 30px;
    text-align: start;
}
cTexto {
    font-size: 24px;
}
button {
    width: 150px;
    margin-top: 20px;
}
form input {
    width: 500px;
    height: 30px;
}
a {
    transition: 0.3s ease-in-out;
}
a:hover {
    color: red;
}
.inscricao {
    text-align: justify;
}